
.App{
  height: 100vh;
  padding: 20px;
}

.AppCoreBg {
  background-color:  darkred;
}

.AppCoreColours {
color: rgb(255, 251, 9);
}

.AppChangeColours {
  height: 100vh;
  background-color: rgb(255, 251, 9);
  color: darkred;
}